{% extends "base.html" %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="d-flex align-items-center">
            <div class="container text-center">
                {% if user.is_authenticated %}
                    
                    <form class="form-inline d-flex justify-content-center active-blue"
                          action="{% url 'movies:search_results' %}" method="get">
                        <input class="form-control mr-3 w-50" type="text" name="t" placeholder="Search..."
                               aria-label="Search" required="required">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </form>

                {% else %}
                    <h1>Search your favourite movies!</h1>
                    <p>Let's get started by signing up.</p>
                    <a href="{% url 'accounts:signup' %}"
                       class="btn btn-primary btn-rounded" role="button">
                        <span><strong>Sign Up Now</strong></span>
                    </a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}