{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container text-left">
        <div class="d-flex align-items-center">
            <div class="container text-center">
                {% if user.is_authenticated %}
                    <form action="{% url 'movies:search_results' %}" method="get">
                        <input name="q" type="text" placeholder="Search...">
                    </form>
                {% else %}
                    <h1>Search your favourite movies!</h1>
                    <p>Let's get started by signing up.</p>
                    <a href="{% url 'accounts:signup' %}"
                       class="btn btn-primary btn-rounded" role="button">
                        <span><strong>Sign Up Now</strong></span>
                    </a>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}